.search {
  width: 100%;
  padding: 3% 4% 5%;
}

.heading {
  width: 100%;
  text-align: center;
  margin: 0 0 1.5rem;
}

.search .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  padding: 0 1rem;
}

.left {
  padding: 1rem 2rem;
}

.search button {
  margin: 0.6rem 0;
  background: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
  border: 1px solid #5651e5;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.search_col_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box p {
  font-size: 0.8rem;
}

.box1 {
  text-align: start;
}

.goldImg {
  margin-right: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo {
  width: 100%;
  margin: 0.4rem 0 4rem 0;
  border: 1px solid #5651e5;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
}

.promo h3 {
  font-size: 1.4rem;
  color: #709dff;
  text-shadow: 1px 1px 0 rgb(37, 36, 36);
}

.promo .timer {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.promo .offers {
  background-color: #5651e5;
  color: #f5f5f5;
  cursor: pointer;
  padding: 0.4rem 0;
}

.search form {
  display: flex;
  flex-direction: column;
}

.input_wrap {
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
}

.search input,
select {
  outline: none;
}

.search .date {
  display: flex;
}

.search button {
  margin: 0.4rem;
}

.date input:focus {
  outline: 1px solid #5651e5;
}

/*
.search form {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.input-wrap {
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
/*
.input-wrap select {
  width: 80%;
  font-size: 1.3rem;
  border-radius: 0.4rem;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;

}

.date input {
  width: 90%;
  font-size: 1.3rem;
  border-radius: 0.4rem;
}
*/

@media screen and (max-width: 940px) {
  .search .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .heading {
    font-size: 2.2rem;
  }

  .left {
    width: 100%;
    padding: 1%;
  }

  .search_col_2 {
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: baseline;
  }

  .search .right {
    width: 100%;
  }

  .search form {
    width: 90%;
  }

  .search .date {
    flex-direction: column;
  }

  .box1 {
    text-align: center;
  }

  .box2 {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
  }

  .promo {
    width: 90%;
  }

  .timer,
  .offers {
    text-align: center;
    margin: 0;
  }
}
