@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 3.5rem;
}

/*
P {
  font-size: 1.5rem;
}
*/
h2 {
  font-size: 2rem;
}

.container {
  margin: auto;
  padding: 0 1rem;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }
}
